In [ ]:
!pip install pyodbc

In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
!pip3 install pymysql
!pip3 install ipython-sql
!pip3 install mysqlclient

In [ ]:
import pymysql
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')

In [ ]:
# Database connection details
db_name = "<propertyintel>"
db_host = "localhost"
db_username = "root"
#db_password = "<Zayn1227>"

In [ ]:
import pymysql
from getpass import getpass
try:
    conn = pymysql.connect(
        host="localhost",
        user="root",
        password=getpass('Enter pass: '),
        database="propertyintel",
        port=int(3306)
    )
    print("Connection successful!")
except Exception as e:
    print("Error:", e)

In [ ]:
cursor = conn.cursor()

# Execute a query
query = "SELECT * FROM buyer"  
cursor.execute(query)

# Fetch and display results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor
cursor.close()

In [ ]:
cursor = conn.cursor()

# Execute a query
query = "SELECT * FROM amenities"  
cursor.execute(query)

# Fetch and display results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor
cursor.close()

In [ ]:
cursor = conn.cursor()

# Execute a query
query = "SELECT * FROM listing"  
cursor.execute(query)

# Fetch and display results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor
cursor.close()

In [ ]:
cursor = conn.cursor()

# Execute a query
query = "SELECT * FROM payment"  
cursor.execute(query)

# Fetch and display results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor
cursor.close()

# 1. Visualization for User Distribution by Type

In [ ]:
# Query: Count users by type
query = "SELECT user_type, COUNT(*) AS count FROM users GROUP BY user_type"
df_users = pd.read_sql(query, con=conn)

# Pie Chart
plt.figure(figsize=(8, 8))
plt.pie(df_users['count'], labels=df_users['user_type'], autopct='%1.1f%%', startangle=140)
plt.title("User Distribution by Type")
plt.show()

# 2. Visualization for Status of Property Listings

In [ ]:
query = "SELECT listing_status, COUNT(*) AS count FROM listing GROUP BY listing_status"
df_listing_status = pd.read_sql(query, conn)

# Bar Chart
df_listing_status.plot(kind='bar', x='listing_status', y='count', legend=False)
plt.title("Property Listings by Status")
plt.xlabel("Listing Status")
plt.ylabel("Number of Listings")
plt.show()

# 3. Visualization for Average Property Prices by Location

In [ ]:
query = """
SELECT location, AVG(price) AS avg_price
FROM properties
GROUP BY location
ORDER BY location
"""
df_price_trend = pd.read_sql(query, conn)

# Line Chart
plt.figure(figsize=(10, 6))
plt.plot(df_price_trend['location'], df_price_trend['avg_price'], marker='o', linestyle='-', color='b')
plt.title("Average Property Prices by Location")
plt.xlabel("Location")
plt.ylabel("Average Price ($)")
plt.xticks(rotation=45)  # Rotate location names
plt.tight_layout()
plt.show()

# 4. Visualization for Comparison of Property Size vs Price:

In [ ]:
query = "SELECT size, price FROM properties"
df_scatter = pd.read_sql(query, conn)

# Scatter Plot
plt.figure(figsize=(10, 6))
plt.scatter(df_scatter['size'], df_scatter['price'], alpha=0.6, color='purple')
plt.title("Property Size vs Price")
plt.xlabel("Size (sq. ft.)")
plt.ylabel("Price ($)")
plt.grid(True)
plt.show()

# 5. Visualization for Distribution of Property Prices:

In [ ]:
query = "SELECT price FROM properties"
df_prices = pd.read_sql(query, conn)

# Histogram
plt.figure(figsize=(10, 6))
plt.hist(df_prices['price'], bins=15, color='green', edgecolor='black')
plt.title("Distribution of Property Prices")
plt.xlabel("Price ($)")
plt.ylabel("Frequency")
plt.show()